@charset "utf-8";

@media screen and (max-width: 668px){
    body{
        background-color: #43281c;
        background-image: none;
    }
    #image-form{
        display: none;
        /* height: inherit;
        background-image: url(../imagens/login-img.jpg);
        width: 50%;
        background-position: right;
        background-size: cover;
        background-repeat:  no-repeat;
        border-radius: 0 16px 16px 0; */
    }
    
}

@media screen and (min-width: 669px) and (max-width: 992px) {
    #container{
        flex-direction:row-reverse; /* estudar em casa*/
    }
    
}
